.App {
  margin: 25px;
}

.fieldDetails {
  padding-left: 15px;
}

.fieldDetails-left {
  padding-left: 0;
}

.fieldTypes-column1 {
  margin-left: 40px;
}

.modal-header {
  padding-left: 15px;
}

.type {
  text-align: left;
}

.type .button {
  background: blue;
}

.type .text {
  /* background-color: blue; */
}
